body {
    background-color: #f4f9fc;
    font-family: Arial, sans-serif;
}

.form-card {
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.section-title {
    border-bottom: 2px solid #0d6efd;
    margin-bottom: 15px;
    padding-bottom: 5px;
}

.rating {
    direction: rtl;
    font-size: 30px;
}

.rating input {
    display: none;
}

.rating label {
    color: #ccc;
    cursor: pointer;
}

.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
    color: gold;
}

#otherBox {
    display: none;
}
